Repository IvanLi-CN/xp: changes, and which lefthook commands are due for each by the changed paths.
All: format-web, typecheck-web, fmt-rust, clippy-rust

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format-web:
      glob: "web/**/*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,css}"
      run: cd web && bun run format
      stage_fixed: true
    typecheck-web:
      glob: "web/**/*.{ts,tsx}"
      run: cd web && bun run typecheck
    format-markdown:
      files: git diff --cached --name-only --diff-filter=ACMR -- '*.md'
      run: bunx --no-install dprint fmt {files}
      stage_fixed: true
    fmt-rust:
      glob: "**/*.{rs}"
      run: cargo fmt
      stage_fixed: true
    clippy-rust:
      glob: "**/*.{rs}"
      run: cargo clippy -- -D warnings

commit-msg:
  commands:
    commitlint:
      run: bunx --no-install commitlint --edit {1}

feat(web): add grant access matrix
  web/src/components/GrantAccessMatrix.stories.tsx
  web/src/components/GrantAccessMatrix.tsx
  web/src/styles.css
  web/src/views/GrantNewPage.tsx
Due: format-web, typecheck-web

fix(web): align grant matrix columns
  web/src/components/GrantAccessMatrix.tsx
Due: format-web, typecheck-web

fix(web): improve disabled button contrast
  web/src/styles.css
Due: format-web

fix(web): prevent page horizontal overflow
  web/src/components/AppShell.tsx
Due: format-web, typecheck-web

docs(plan): mark #0012 complete
  docs/plan/0012:grant-access-matrix/PLAN.md
  docs/plan/README.md
Due: none

docs: add plan 0013 for cloudflare tunnel ops
  docs/plan/0013:cloudflare-tunnel-remote-access/PLAN.md
  docs/plan/0013:cloudflare-tunnel-remote-access/contracts/cli.md
  docs/plan/0013:cloudflare-tunnel-remote-access/contracts/config.md
  docs/plan/0013:cloudflare-tunnel-remote-access/contracts/file-formats.md
  docs/plan/0013:cloudflare-tunnel-remote-access/contracts/http-apis.md
  docs/plan/README.md
Due: none

docs: format plan 0013 markdown
  docs/plan/0013:cloudflare-tunnel-remote-access/PLAN.md
  docs/plan/0013:cloudflare-tunnel-remote-access/contracts/file-formats.md
  docs/plan/README.md
Due: none

docs: remove path from cloudflare tunnel contracts
  docs/plan/0013:cloudflare-tunnel-remote-access/PLAN.md
  docs/plan/0013:cloudflare-tunnel-remote-access/contracts/cli.md
  docs/plan/0013:cloudflare-tunnel-remote-access/contracts/config.md
  docs/plan/0013:cloudflare-tunnel-remote-access/contracts/http-apis.md
Due: none

feat(ops): add xp-ops cloudflare tunnel deploy
  Cargo.lock
  Cargo.toml
  docs/ops/README.md
  docs/ops/cloudflare-tunnel.md
  docs/ops/openrc/cloudflared
  docs/ops/systemd/cloudflared.service
  docs/plan/0013:cloudflare-tunnel-remote-access/PLAN.md
  docs/plan/README.md
  src/bin/xp-ops.rs
  src/lib.rs
  src/ops/cli.rs
  src/ops/cloudflare.rs
  src/ops/deploy.rs
  src/ops/init.rs
  src/ops/install.rs
  src/ops/mod.rs
  src/ops/paths.rs
  src/ops/platform.rs
  src/ops/status.rs
  src/ops/tui.rs
  src/ops/util.rs
  src/ops/xp.rs
  tests/xp_ops_smoke.rs
Due: none

ci: add xp-ops distro dry-run coverage
  .github/workflows/ci.yml
Due: none

docs: format cloudflare tunnel ops doc
  docs/ops/cloudflare-tunnel.md
Due: none

docs: add plan 0014 node quota editor
  docs/plan/0014:grant-node-quota-editor/DESIGN.md
  docs/plan/0014:grant-node-quota-editor/PLAN.md
  docs/plan/0014:grant-node-quota-editor/assets/grant-node-quota-editor-hifi-dark.svg
  docs/plan/0014:grant-node-quota-editor/assets/grant-node-quota-editor-hifi-light.svg
  docs/plan/0014:grant-node-quota-editor/contracts/README.md
  docs/plan/0014:grant-node-quota-editor/contracts/http-apis.md
  docs/plan/0014:grant-node-quota-editor/contracts/ui-components.md
  docs/plan/README.md
Due: none

docs: format plan 0014 docs
  docs/plan/0014:grant-node-quota-editor/PLAN.md
  docs/plan/0014:grant-node-quota-editor/contracts/README.md
  docs/plan/0014:grant-node-quota-editor/contracts/http-apis.md
  docs/plan/0014:grant-node-quota-editor/contracts/ui-components.md
Due: none

docs: add service config plan and design
  docs/plan/0015:service-config-readonly-page/DESIGN.md
  docs/plan/0015:service-config-readonly-page/PLAN.md
  docs/plan/0015:service-config-readonly-page/assets/service-config-page.html
  docs/plan/0015:service-config-readonly-page/assets/service-config-page.png
  docs/plan/0015:service-config-readonly-page/contracts/README.md
  docs/plan/0015:service-config-readonly-page/contracts/cli.md
  docs/plan/0015:service-config-readonly-page/contracts/file-formats.md
  docs/plan/0015:service-config-readonly-page/contracts/http-apis.md
  docs/plan/0015:service-config-readonly-page/contracts/ui-components.md
  docs/plan/README.md
Due: none

docs: format plan table
  docs/plan/0015:service-config-readonly-page/PLAN.md
Due: none

fix: improve ops deploy flow
  Cargo.lock
  Cargo.toml
  docs/ops/cloudflare-tunnel.md
  docs/plan/0013:cloudflare-tunnel-remote-access/PLAN.md
  docs/plan/0013:cloudflare-tunnel-remote-access/contracts/cli.md
  src/ops/admin_token.rs
  src/ops/cli.rs
  src/ops/cloudflare.rs
  src/ops/deploy.rs
  src/ops/init.rs
  src/ops/install.rs
  src/ops/mod.rs
  src/ops/paths.rs
  src/ops/tui.rs
Due: none

style: rustfmt
  src/ops/cli.rs
  src/ops/cloudflare.rs
  src/ops/deploy.rs
  src/ops/install.rs
  src/ops/mod.rs
Due: none

fix: resolve clippy warnings
  src/ops/deploy.rs
  src/ops/tui.rs
Due: none

feat: add node quota editor
  docs/plan/0012:grant-access-matrix/PLAN.md
  docs/plan/0014:grant-node-quota-editor/PLAN.md
  docs/plan/README.md
  src/domain/mod.rs
  src/http/mod.rs
  src/http/tests.rs
  src/quota.rs
  src/raft/app.rs
  src/raft/storage/file.rs
  src/state.rs
  web/.storybook/mocks/apiMock.ts
  web/src/api/adminUserNodeQuotas.ts
  web/src/components/GrantAccessMatrix.stories.tsx
  web/src/components/GrantAccessMatrix.tsx
  web/src/components/NodeQuotaEditor.tsx
  web/src/storybook/apiMock.test.ts
  web/src/utils/quota.test.ts
  web/src/utils/quota.ts
  web/src/views/DesignPages.stories.tsx
  web/src/views/GrantDetailsPage.tsx
  web/src/views/GrantNewPage.tsx
  web/src/views/UserDetailsPage.tsx
Due: format-web, typecheck-web

fix(web): avoid layout shift in node quota editor
  web/src/components/NodeQuotaEditor.tsx
Due: format-web, typecheck-web

fix(web): anchor node quota popover to trigger
  web/src/components/NodeQuotaEditor.tsx
Due: format-web, typecheck-web

fix(web): simplify node quota popover layout
  web/src/components/NodeQuotaEditor.tsx
Due: format-web, typecheck-web

fix(web): narrow node quota popover
  web/src/components/NodeQuotaEditor.tsx
Due: format-web, typecheck-web

docs: add 0014 ui interaction notes
  docs/plan/0014:grant-node-quota-editor/PLAN.md
Due: none

fix(web): swap node quota popover actions
  web/src/components/NodeQuotaEditor.tsx
Due: format-web, typecheck-web

docs: note node quota popover button order
  docs/plan/0014:grant-node-quota-editor/PLAN.md
Due: none

chore: ignore .run directory
  .gitignore
Due: none

docs(plan): add plans 0016/0017 and fix formatting
  docs/plan/0014:grant-node-quota-editor/DESIGN.md
  docs/plan/0014:grant-node-quota-editor/PLAN.md
  docs/plan/0014:grant-node-quota-editor/assets/grant-node-quota-editor-hifi-dark.svg
  docs/plan/0014:grant-node-quota-editor/assets/grant-node-quota-editor-hifi-light.svg
  docs/plan/0014:grant-node-quota-editor/contracts/http-apis.md
  docs/plan/0016:grant-new-access-selection/DESIGN.md
  docs/plan/0016:grant-new-access-selection/PLAN.md
  docs/plan/0016:grant-new-access-selection/assets/grant-new-create-group-hifi-dark.svg
  docs/plan/0016:grant-new-access-selection/assets/grant-new-create-group-hifi-light.svg
  docs/plan/0017:grant-grouping-and-cycle-ownership/DESIGN.md
  docs/plan/0017:grant-grouping-and-cycle-ownership/PLAN.md
  docs/plan/0017:grant-grouping-and-cycle-ownership/assets/grant-group-details-hifi-dark.svg
  docs/plan/0017:grant-grouping-and-cycle-ownership/assets/grant-group-details-hifi-light.svg
  docs/plan/0017:grant-grouping-and-cycle-ownership/assets/grant-groups-hifi-dark.svg
  docs/plan/0017:grant-grouping-and-cycle-ownership/assets/grant-groups-hifi-light.svg
  docs/plan/0017:grant-grouping-and-cycle-ownership/assets/node-details-quota-reset-hifi-dark.svg
  docs/plan/0017:grant-grouping-and-cycle-ownership/assets/node-details-quota-reset-hifi-light.svg
  docs/plan/0017:grant-grouping-and-cycle-ownership/assets/user-details-quota-reset-hifi-dark.svg
  docs/plan/0017:grant-grouping-and-cycle-ownership/assets/user-details-quota-reset-hifi-light.svg
  docs/plan/0017:grant-grouping-and-cycle-ownership/contracts/README.md
  docs/plan/0017:grant-grouping-and-cycle-ownership/contracts/file-formats.md
  docs/plan/0017:grant-grouping-and-cycle-ownership/contracts/http-apis.md
  docs/plan/README.md
Due: none

docs(plan): mark plan 0016 ready
  docs/plan/0016:grant-new-access-selection/PLAN.md
  docs/plan/README.md
Due: none

feat(backend): add access_host and admin config api
  scripts/dev/seed-m6-demo-data.js
  src/cluster_metadata.rs
  src/config.rs
  src/domain/mod.rs
  src/http/mod.rs
  src/http/tests.rs
  src/main.rs
  src/ops/cli.rs
  src/ops/deploy.rs
  src/ops/tui.rs
  src/ops/xp.rs
  src/quota.rs
  src/raft/app.rs
  src/raft/storage/file.rs
  src/reconcile.rs
  src/state.rs
  src/subscription.rs
  tests/forwarding_raft_facade_forwarding.rs
  tests/raft_replication_smoke.rs
  tests/xray_e2e.rs
Due: none

feat(web): add service config page
  web/.storybook/mocks/apiMock.ts
  web/.storybook/preview.tsx
  web/src/api/adminConfig.ts
  web/src/api/adminNodes.ts
  web/src/api/m1Schemas.test.ts
  web/src/components/AppLayout.tsx
  web/src/components/AppShell.tsx
  web/src/components/CopyButton.tsx
  web/src/router.tsx
  web/src/views/DesignPages.stories.tsx
  web/src/views/HomePage.tsx
  web/src/views/NodeDetailsPage.tsx
  web/src/views/NodesPage.tsx
  web/src/views/ServiceConfigPage.tsx
  web/tests/e2e/helpers.ts
Due: format-web, typecheck-web

docs: update access_host naming
  docs/desgin/api.md
  docs/desgin/architecture.md
  docs/desgin/subscription.md
  docs/desgin/workflows.md
  docs/ops/cloudflare-tunnel.md
  docs/plan/0012:grant-access-matrix/contracts/http-apis.md
  docs/plan/0013:cloudflare-tunnel-remote-access/contracts/cli.md
  docs/plan/0015:service-config-readonly-page/PLAN.md
  docs/plan/0015:service-config-readonly-page/contracts/http-apis.md
  docs/plan/README.md
Due: none

feat: add grant group creation flow
  docs/plan/0016:grant-new-access-selection/PLAN.md
  docs/plan/README.md
  src/domain/mod.rs
  src/http/mod.rs
  src/raft/app.rs
  src/state.rs
  src/subscription.rs
  src/xray/builder.rs
  web/.storybook/mocks/apiMock.ts
  web/.storybook/preview.tsx
  web/src/api/adminGrantGroups.ts
  web/src/router.tsx
  web/src/views/DesignPages.stories.tsx
  web/src/views/GrantGroupDetailsPage.tsx
  web/src/views/GrantNewPage.test.ts
  web/src/views/GrantNewPage.tsx
Due: format-web, typecheck-web

docs(plan): add release and upgrade plan
  docs/plan/0018:xp-ops-upgrade-and-release-automation/PLAN.md
  docs/plan/0018:xp-ops-upgrade-and-release-automation/contracts/cli.md
  docs/plan/0018:xp-ops-upgrade-and-release-automation/contracts/config.md
  docs/plan/0018:xp-ops-upgrade-and-release-automation/contracts/file-formats.md
  docs/plan/0018:xp-ops-upgrade-and-release-automation/contracts/github-automation.md
  docs/plan/README.md
Due: none

docs: format plan 0018
  docs/plan/0018:xp-ops-upgrade-and-release-automation/PLAN.md
  docs/plan/README.md
Due: none

feat(ops): add self-upgrade and xp upgrade
  src/config.rs
  src/lib.rs
  src/ops/cli.rs
  src/ops/mod.rs
  src/ops/upgrade.rs
  src/version.rs
  tests/xp_ops_upgrade.rs
Due: none

ci: add release workflow
  .github/scripts/compute-version.sh
  .github/workflows/release.yml
Due: none

docs: document xp-ops upgrades
  docs/ops/README.md
  docs/plan/0018:xp-ops-upgrade-and-release-automation/PLAN.md
  docs/plan/README.md
Due: none

fix(ops): allow restart under test root
  src/ops/upgrade.rs
  tests/xp_ops_upgrade.rs
Due: none

docs: plan 0019 subscription preview formatting
  docs/plan/0019:subscription-preview-formatting/PLAN.md
  docs/plan/0019:subscription-preview-formatting/assets/user-details-subscription-entry-dark.svg
  docs/plan/0019:subscription-preview-formatting/assets/user-details-subscription-entry-light.svg
  docs/plan/0019:subscription-preview-formatting/assets/user-details-subscription-redesign-dark.svg
  docs/plan/0019:subscription-preview-formatting/assets/user-details-subscription-redesign-light.svg
  docs/plan/README.md
Due: none
