Repository IvanLi-CN/xp: changes, and which lefthook commands are due for each by the changed paths.
All: format-web, typecheck-web, fmt-rust, clippy-rust

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format-web:
      glob: "web/**/*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,css}"
      run: cd web && npm run format
      stage_fixed: true
    typecheck-web:
      glob: "web/**/*.{ts,tsx}"
      run: cd web && npm run typecheck
    format-markdown:
      files: git diff --cached --name-only --diff-filter=ACMR -- '*.md'
      run: npx dprint fmt {files}
      stage_fixed: true
    fmt-rust:
      glob: "**/*.{rs}"
      run: cargo fmt
      stage_fixed: true
    clippy-rust:
      glob: "**/*.{rs}"
      run: cargo clippy -- -D warnings

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

fix(web): use node moduleResolution for tsc
  web/tsconfig.app.json
  web/tsconfig.node.json
Due: none

fix(web): override whatwg-url and tr46
  web/bun.lock
  web/package.json
  web/tsconfig.node.json
Due: none

ci: add m7 quality gates
  .github/workflows/ci.yml
Due: none

ci: install playwright for storybook tests
  .github/workflows/ci.yml
Due: none

fix: serve embedded ui at / and correct vless reality config
  build.rs
  src/http/mod.rs
  src/http/tests.rs
  src/http/web_assets.rs
  src/protocol.rs
  src/raft/storage/file.rs
  src/reconcile.rs
  src/state.rs
  src/subscription.rs
  src/xray/builder.rs
  web/.storybook/mocks/apiMock.ts
  web/src/api/adminEndpoints.ts
  web/src/views/EndpointDetailsPage.tsx
  web/src/views/EndpointNewPage.tsx
  web/src/views/EndpointsPage.tsx
Due: format-web, typecheck-web

style: apply rustfmt
  src/reconcile.rs
Due: none

ci: build web assets for rust checks
  .github/workflows/ci.yml
Due: none

fix: satisfy clippy collapsible-if
  src/reconcile.rs
  src/state.rs
Due: none

ci: build web assets for xray-e2e
  .github/workflows/xray-e2e.yml
Due: none

web: validate admin token before saving
  web/src/api/adminAuth.ts
  web/src/utils/adminToken.ts
  web/src/views/HomePage.tsx
  web/src/views/LoginPage.tsx
Due: format-web, typecheck-web

docs: migrate planning docs to docs/plan
  docs/plan/0001:mvp-outline/PLAN.md
  docs/plan/0002:m1-control-plane-foundation/PLAN.md
  docs/plan/0003:m2-xray-controller-reconcile/PLAN.md
  docs/plan/0004:m3-subscription-output/PLAN.md
  docs/plan/0005:m4-quota-system/PLAN.md
  docs/plan/0006:m5-raft-cluster/PLAN.md
  docs/plan/0007:m5-quota-raft-consistency/PLAN.md
  docs/plan/0008:m6-web-panel/PLAN.md
  docs/plan/0009:m7-quality-gates-delivery/PLAN.md
  docs/plan/README.md
Due: none

docs: format plan docs
  docs/plan/0001:mvp-outline/PLAN.md
  docs/plan/0002:m1-control-plane-foundation/PLAN.md
  docs/plan/0003:m2-xray-controller-reconcile/PLAN.md
  docs/plan/0004:m3-subscription-output/PLAN.md
  docs/plan/0005:m4-quota-system/PLAN.md
  docs/plan/0006:m5-raft-cluster/PLAN.md
  docs/plan/0007:m5-quota-raft-consistency/PLAN.md
  docs/plan/0008:m6-web-panel/PLAN.md
  docs/plan/0009:m7-quality-gates-delivery/PLAN.md
  docs/plan/README.md
Due: none

docs: add plan 0010 admin ui geek redesign
  docs/plan/0010:admin-ui-geek-redesign/PLAN.md
  docs/plan/0010:admin-ui-geek-redesign/assets/app-shell-dark.svg
  docs/plan/0010:admin-ui-geek-redesign/assets/app-shell-light.svg
  docs/plan/0010:admin-ui-geek-redesign/assets/dashboard-dark.svg
  docs/plan/0010:admin-ui-geek-redesign/assets/dashboard-light.svg
  docs/plan/0010:admin-ui-geek-redesign/assets/endpoint-details-dark.svg
  docs/plan/0010:admin-ui-geek-redesign/assets/endpoint-details-light.svg
  docs/plan/0010:admin-ui-geek-redesign/assets/endpoint-new-dark.svg
  docs/plan/0010:admin-ui-geek-redesign/assets/endpoint-new-light.svg
  docs/plan/0010:admin-ui-geek-redesign/assets/endpoints-dark.svg
  docs/plan/0010:admin-ui-geek-redesign/assets/endpoints-light.svg
  docs/plan/0010:admin-ui-geek-redesign/assets/grant-details-dark.svg
  docs/plan/0010:admin-ui-geek-redesign/assets/grant-details-light.svg
  docs/plan/0010:admin-ui-geek-redesign/assets/grant-new-dark.svg
  docs/plan/0010:admin-ui-geek-redesign/assets/grant-new-light.svg
  docs/plan/0010:admin-ui-geek-redesign/assets/grants-dark.svg
  docs/plan/0010:admin-ui-geek-redesign/assets/grants-light.svg
  docs/plan/0010:admin-ui-geek-redesign/assets/login-dark.svg
  docs/plan/0010:admin-ui-geek-redesign/assets/login-light.svg
  docs/plan/0010:admin-ui-geek-redesign/assets/node-details-dark.svg
  docs/plan/0010:admin-ui-geek-redesign/assets/node-details-light.svg
  docs/plan/0010:admin-ui-geek-redesign/assets/nodes-dark.svg
  docs/plan/0010:admin-ui-geek-redesign/assets/nodes-light.svg
  docs/plan/0010:admin-ui-geek-redesign/assets/user-details-dark.svg
  docs/plan/0010:admin-ui-geek-redesign/assets/user-details-light.svg
  docs/plan/0010:admin-ui-geek-redesign/assets/user-new-dark.svg
  docs/plan/0010:admin-ui-geek-redesign/assets/user-new-light.svg
  docs/plan/0010:admin-ui-geek-redesign/assets/users-dark.svg
  docs/plan/0010:admin-ui-geek-redesign/assets/users-light.svg
  docs/plan/0010:admin-ui-geek-redesign/contracts/README.md
  docs/plan/0010:admin-ui-geek-redesign/contracts/config.md
  docs/plan/0010:admin-ui-geek-redesign/contracts/ui-components.md
  docs/plan/README.md
Due: none

docs: format plan 0010
  docs/plan/0010:admin-ui-geek-redesign/PLAN.md
Due: none

feat(web): add app shell theme and density prefs
  docs/desgin/quality.md
  docs/desgin/tech-selection.md
  docs/plan/0010:admin-ui-geek-redesign/PLAN.md
  docs/plan/README.md
  web/.storybook/preview.tsx
  web/bun.lock
  web/package.json
  web/src/components/AppLayout.tsx
  web/src/components/AppShell.stories.tsx
  web/src/components/AppShell.tsx
  web/src/components/Button.tsx
  web/src/components/DataTable.stories.tsx
  web/src/components/DataTable.test.tsx
  web/src/components/DataTable.tsx
  web/src/components/Icon.stories.tsx
  web/src/components/Icon.test.tsx
  web/src/components/Icon.tsx
  web/src/components/PageHeader.stories.tsx
  web/src/components/PageHeader.test.tsx
  web/src/components/PageHeader.tsx
  web/src/components/ResourceTable.tsx
  web/src/components/UiPrefs.tsx
  web/src/main.tsx
  web/src/styles.css
  web/src/views/EndpointDetailsPage.tsx
  web/src/views/EndpointNewPage.tsx
  web/src/views/EndpointsPage.tsx
  web/src/views/GrantDetailsPage.tsx
  web/src/views/GrantNewPage.tsx
  web/src/views/GrantsPage.tsx
  web/src/views/HomePage.tsx
  web/src/views/LoginPage.tsx
  web/src/views/NodeDetailsPage.tsx
  web/src/views/NodesPage.tsx
  web/src/views/UserDetailsPage.tsx
  web/src/views/UserNewPage.tsx
  web/src/views/UsersPage.tsx
  web/tailwind.config.js
  web/tests/e2e/health.spec.ts
  web/tests/e2e/ui-preferences.spec.ts
Due: format-web, typecheck-web

fix(web): align app shell navbar controls
  web/src/components/AppShell.tsx
Due: format-web, typecheck-web

fix(web): make app shell header match design
  web/src/components/AppShell.tsx
  web/tests/e2e/ui-preferences.spec.ts
Due: format-web, typecheck-web

docs(plan): add plan 0011 storybook no-auto-open
  docs/plan/0011:storybook-no-auto-open/PLAN.md
  docs/plan/0011:storybook-no-auto-open/contracts/cli.md
  docs/plan/README.md
Due: none

docs(plan): format plan 0011
  docs/plan/0011:storybook-no-auto-open/PLAN.md
  docs/plan/0011:storybook-no-auto-open/contracts/cli.md
  docs/plan/README.md
Due: none

chore(web): checkpoint app shell layout rewrite
  web/src/components/AppShell.tsx
Due: format-web, typecheck-web

fix(web): refine app shell layout
  web/src/components/AppShell.tsx
  web/tests/e2e/ui-preferences.spec.ts
Due: format-web, typecheck-web

fix(web): add consistent form label spacing
  web/src/styles.css
  web/tests/e2e/navigation.spec.ts
Due: format-web, typecheck-web

fix(web): restore form-control label spacing
  web/src/styles.css
Due: format-web

fix(web): restore daisyui button sizing
  web/src/components/AppShell.tsx
  web/src/components/Button.tsx
  web/src/styles.css
  web/src/views/GrantDetailsPage.tsx
  web/src/views/UserDetailsPage.tsx
  web/tailwind.config.js
Due: format-web, typecheck-web

test(web): add storybook design pages
  web/.storybook/preview.tsx
  web/src/views/DesignPages.stories.tsx
Due: format-web, typecheck-web

test(web): add storybook theme toolbar
  web/.storybook/preview.tsx
  web/src/components/AppShell.stories.tsx
  web/src/views/DesignPages.stories.tsx
Due: format-web, typecheck-web

fix(web): make form controls full width
  web/src/styles.css
  web/src/views/LoginPage.tsx
Due: format-web, typecheck-web

docs(plan): align plan status values
  docs/plan/0010:admin-ui-geek-redesign/PLAN.md
  docs/plan/README.md
Due: none

docs(plan): link Plan 0010 PR
  docs/plan/README.md
Due: none

docs(plan): format plan index
  docs/plan/README.md
Due: none

docs: add grant access matrix plan
  docs/plan/0012:grant-access-matrix/PLAN.md
  docs/plan/0012:grant-access-matrix/assets/grant-access-matrix-hifi-dark.svg
  docs/plan/0012:grant-access-matrix/assets/grant-access-matrix-hifi-light.svg
  docs/plan/0012:grant-access-matrix/assets/grant-access-matrix-wireframe.svg
  docs/plan/0012:grant-access-matrix/assets/measure-hifi-dark.html
  docs/plan/0012:grant-access-matrix/assets/measure-hifi-light.html
  docs/plan/0012:grant-access-matrix/contracts/http-apis.md
  docs/plan/0012:grant-access-matrix/contracts/ui-components.md
  docs/plan/README.md
Due: none

web: disable storybook auto-open
  docs/plan/0011:storybook-no-auto-open/PLAN.md
  docs/plan/README.md
  web/package.json
Due: none

docs: mark plan 0012 ready for implementation
  docs/plan/0012:grant-access-matrix/PLAN.md
  docs/plan/README.md
Due: none

test: tolerate transient snapshot read errors
  tests/raft_replication_smoke.rs
Due: none

docs: format plan 0012 docs
  docs/plan/0012:grant-access-matrix/PLAN.md
  docs/plan/0012:grant-access-matrix/contracts/http-apis.md
Due: none

docs: add png previews for plan 0012
  docs/plan/0012:grant-access-matrix/assets/grant-access-matrix-hifi-dark.png
  docs/plan/0012:grant-access-matrix/assets/grant-access-matrix-hifi-light.png
Due: none

docs: add pr-preview images for plan 0012
  docs/plan/assets/0012-grant-access-matrix/grant-access-matrix-hifi-dark.png
  docs/plan/assets/0012-grant-access-matrix/grant-access-matrix-hifi-light.png
Due: none
