Repository IvanLi-CN/xp: changes, and which lefthook commands are due for each by the changed paths.
All: format-web, typecheck-web, fmt-rust, clippy-rust

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format-web:
      glob: "web/**/*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,css}"
      run: cd web && bun run format
      stage_fixed: true
    typecheck-web:
      glob: "web/**/*.{ts,tsx}"
      run: cd web && bun run typecheck
    format-markdown:
      files: git diff --cached --name-only --diff-filter=ACMR -- '*.md'
      run: bunx --no-install dprint fmt {files}
      stage_fixed: true
    fmt-rust:
      glob: "**/*.{rs}"
      run: cargo fmt
      stage_fixed: true
    clippy-rust:
      glob: "**/*.{rs}"
      run: cargo clippy -- -D warnings

commit-msg:
  commands:
    commitlint:
      run: bunx --no-install commitlint --edit {1}

fix(ui): finish shadcn control migration
  web/src/components/AccessMatrix.tsx
  web/src/components/AppShell.tsx
  web/src/components/ConfirmDialog.stories.tsx
  web/src/components/ConfirmDialog.test.tsx
  web/src/components/ConfirmDialog.tsx
  web/src/components/NodeQuotaEditor.tsx
  web/src/components/SubscriptionPreviewDialog.tsx
  web/src/components/TagInput.tsx
  web/src/components/YamlCodeEditor.tsx
  web/src/components/ui/checkbox.stories.tsx
  web/src/components/ui/checkbox.tsx
  web/src/views/EndpointDetailsPage.tsx
  web/src/views/HomePage.tsx
  web/src/views/NodesPage.tsx
  web/src/views/QuotaPolicyPage.tsx
  web/src/views/UserDetailsPage.test.tsx
  web/src/views/UserDetailsPage.tsx
  web/tests/e2e/users-crud.spec.ts
Due: format-web, typecheck-web

fix(storybook): darken docs canvas in dark mode
  web/.storybook/docs-theme.css
  web/.storybook/preview.tsx
Due: format-web, typecheck-web

fix(storybook): restore dark docs text contrast
  web/.storybook/docs-theme.css
  web/.storybook/preview.tsx
Due: format-web, typecheck-web

fix(storybook): tone down dark docs gradient
  web/.storybook/docs-theme.css
Due: format-web

fix(ci): restore docs formatting checks
  docs/specs/README.md
  web/.storybook/docs-theme.css
Due: format-web

fix(ui): resolve review loop regressions
  web/.storybook/preview.tsx
  web/src/components/AccessMatrix.test.tsx
  web/src/components/AccessMatrix.tsx
  web/src/views/NodeDetailsPage.test.tsx
  web/src/views/NodeDetailsPage.tsx
  web/src/views/UserNewPage.tsx
Due: format-web, typecheck-web

feat!: hard-cut ip geo to country.is hosted api
  docs/desgin/api.md
  docs/ops/README.md
  docs/ops/env/xp.env.example
  docs/specs/6e7e4-node-user-inbound-ip-usage/SPEC.md
  docs/specs/6e7e4-node-user-inbound-ip-usage/contracts/cli.md
  docs/specs/6e7e4-node-user-inbound-ip-usage/contracts/file-formats.md
  docs/specs/6e7e4-node-user-inbound-ip-usage/contracts/http-apis.md
  docs/specs/README.md
  docs/specs/tc2kp-country-is-ip-geo/SPEC.md
  docs/specs/xm43j-ip-geo-db-auto-update/SPEC.md
  src/config.rs
  src/domain/mod.rs
  src/http/mod.rs
  src/http/tests.rs
  src/inbound_ip_usage.rs
  src/ip_geo_db.rs
  src/quota.rs
  src/reconcile.rs
  src/state.rs
  tests/forwarding_raft_facade_forwarding.rs
  tests/shared_quota_xray_e2e.rs
  tests/xray_e2e.rs
  web/.storybook/mocks/apiMock.ts
  web/.storybook/preview.tsx
  web/src/api/adminIpGeoDb.test.ts
  web/src/api/adminIpGeoDb.ts
  web/src/api/adminIpUsage.test.ts
  web/src/api/adminIpUsage.ts
  web/src/components/AppLayout.tsx
  web/src/components/IpUsageView.test.tsx
  web/src/components/IpUsageView.tsx
  web/src/router.tsx
  web/src/setupTests.ts
  web/src/storybook/apiMock.test.ts
  web/src/storybook/ipUsageStoryData.ts
  web/src/views/IpGeoDbPage.stories.tsx
  web/src/views/IpGeoDbPage.test.tsx
  web/src/views/IpGeoDbPage.tsx
  web/src/views/NodeDetailsPage.test.tsx
  web/src/views/UserDetailsPage.test.tsx
Due: format-web, typecheck-web

fix: keep geo rolling-upgrade compatibility
  src/ip_geo_db.rs
  src/state.rs
Due: none

fix: reuse geo cache across ticks and memberships
  src/inbound_ip_usage.rs
  src/quota.rs
Due: none

fix: avoid stale geo cache when shifting window
  src/inbound_ip_usage.rs
  src/quota.rs
  src/state.rs
Due: none

docs: remove legacy geo db wording from storybook
  web/src/components/ui/checkbox.stories.tsx
Due: format-web, typecheck-web

fix(geo): bound country.is cache and harden candidates
  src/inbound_ip_usage.rs
  src/ip_geo_db.rs
Due: none

style(rust): rustfmt
  src/ip_geo_db.rs
Due: none

fix(ip-usage): keep quota tick off country.is critical path
  src/config.rs
  src/http/mod.rs
  src/http/tests.rs
  src/quota.rs
Due: none

fix(ip-usage): backfill async geo and keep wire compat
  src/http/mod.rs
  src/inbound_ip_usage.rs
  src/quota.rs
Due: none

fix(review): preserve geo source and retry empty lookups
  src/http/mod.rs
  src/ip_geo_db.rs
  web/src/api/adminIpUsage.test.ts
  web/src/api/adminIpUsage.ts
  web/src/components/IpUsageView.tsx
Due: format-web, typecheck-web

fix(review): add ip geo knobs and rate limiting
  docs/ops/env/xp.env.example
  docs/specs/tc2kp-country-is-ip-geo/SPEC.md
  src/config.rs
  src/http/tests.rs
  src/ip_geo_db.rs
  src/quota.rs
  src/reconcile.rs
  tests/forwarding_raft_facade_forwarding.rs
  tests/shared_quota_xray_e2e.rs
  tests/xray_e2e.rs
Due: none

fix(ip-geo): filter non-global lookup candidates
  src/inbound_ip_usage.rs
Due: none

fix(ip-geo): persist partial primes
  src/http/mod.rs
  src/ip_geo_db.rs
  src/quota.rs
Due: none

fix(quota): avoid needless inbound ip usage saves
  src/quota.rs
  src/state.rs
Due: none

chore(fmt): rustfmt
  src/quota.rs
Due: none

fix(ip-geo): make hosted lookups opt-in and warn on failure
  docs/ops/env/xp.env.example
  docs/specs/tc2kp-country-is-ip-geo/SPEC.md
  src/config.rs
  src/http/mod.rs
  src/http/tests.rs
  src/ip_geo_db.rs
  src/quota.rs
  src/reconcile.rs
  tests/forwarding_raft_facade_forwarding.rs
  tests/shared_quota_xray_e2e.rs
  tests/xray_e2e.rs
Due: none

fix(ip-geo): expire lookup error warning
  docs/desgin/api.md
  docs/ops/README.md
  docs/specs/6e7e4-node-user-inbound-ip-usage/SPEC.md
  docs/specs/6e7e4-node-user-inbound-ip-usage/contracts/http-apis.md
  src/ip_geo_db.rs
  web/src/components/IpUsageView.tsx
Due: format-web, typecheck-web

fix(ip-usage): improve geo display and expose ip geo config
  src/http/mod.rs
  src/inbound_ip_usage.rs
  web/.storybook/mocks/apiMock.ts
  web/src/api/adminConfig.ts
  web/src/views/ServiceConfigPage.tsx
Due: format-web, typecheck-web

fix(ip-geo): respect disabled mode and normalize origin
  src/http/mod.rs
  src/http/tests.rs
  src/inbound_ip_usage.rs
  src/ip_geo_db.rs
  src/quota.rs
  src/state.rs
Due: none

fix(ip-geo): avoid overlapping lookup tasks
  docs/desgin/api.md
  docs/specs/6e7e4-node-user-inbound-ip-usage/contracts/http-apis.md
  src/http/tests.rs
  src/ip_geo_db.rs
  src/quota.rs
Due: none

fix(ip-geo): keep error state and respect origin paths
  src/ip_geo_db.rs
Due: none

fix(ip-geo): queue pending candidates and refine warnings
  src/inbound_ip_usage.rs
  src/ip_geo_db.rs
  src/quota.rs
Due: none

fix: raise cluster admin request timeout
  src/http/mod.rs
Due: none

docs: sync spec fan-out timeout behavior
  docs/specs/6e7e4-node-user-inbound-ip-usage/SPEC.md
  docs/specs/9vmap-node-service-observability/SPEC.md
Due: none

fix(review): narrow runtime fan-out timeout scope
  docs/specs/6e7e4-node-user-inbound-ip-usage/SPEC.md
  docs/specs/9vmap-node-service-observability/SPEC.md
  src/http/mod.rs
Due: none

Revert "fix: raise node runtime fan-out timeout (#106)"
  docs/specs/9vmap-node-service-observability/SPEC.md
  src/http/mod.rs
Due: none

fix: raise node runtime fan-out timeout
  src/http/mod.rs
Due: none

docs: add runtime timeout patch spec
  docs/specs/README.md
  docs/specs/jtnnd-node-runtime-fanout-timeout-tolerance/SPEC.md
Due: none

docs: format runtime timeout patch spec
  docs/specs/README.md
  docs/specs/jtnnd-node-runtime-fanout-timeout-tolerance/SPEC.md
Due: none

fix: ignore offline nodes in endpoint probe health
  docs/ops/endpoint-probe.md
  docs/specs/README.md
  docs/specs/much7-endpoint-probe-online-participants/SPEC.md
  src/endpoint_probe.rs
  src/http/mod.rs
  src/http/tests.rs
  src/state.rs
  web/src/api/adminEndpointProbes.ts
  web/src/utils/endpointProbeStatus.test.ts
  web/src/utils/endpointProbeStatus.ts
  web/src/views/EndpointProbeRunPage.test.tsx
  web/src/views/EndpointProbeRunPage.tsx
  web/src/views/EndpointProbeStatsPage.test.tsx
  web/src/views/EndpointProbeStatsPage.tsx
Due: format-web, typecheck-web

fix: drop removed nodes from probe participants
  src/state.rs
Due: none

fix: prune stale endpoint probe participants on load
  src/state.rs
Due: none
